.nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
}

.logo {
    padding: 2.5rem 3.5rem;
    border-right: 1px solid #3a3a3a;
}

.features {
    display: flex;
}

.features div {
    padding: 2.5rem 3.5rem;
    border-left: 1px solid #3a3a3a;

}